/node_modules
/public/hot
/public/storage
/node_modules
/public/staffattachments
/public/interviewAttachmentfiles
/public/remittance_attachments
/public/CertificatesHeld
/bootstrap/cache/*.php
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/attachments
/public/BiddingDocument
/public/CertificatesHeld
/public/contractors
